body{
    font-family: Tahoma, Geneva, sans-serif;
    background-color: white;
}
.heading img {
    float: left;
    width: 100px;
    height: 100px;
    transform: translateY(-20px) translateX(20px);
}
.heading h2 {
}

.heading{
    padding-bottom: 8px;
    padding-top: 8px;
    transform: translateX(-20px);
    text-align: center;
    background-color: #666;
    font-size: 18px;
    color: white;
}


.button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    color: dodgerblue;
    font-size: 20px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 30px;
    margin-right: 10%;
    text-align: center;
    transform: translateX(70%);
}

.text_area {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    resize: none;
    height:200px;
    width: 200px;
}

.button:hover{
    background-color: lightgrey;
}
