body {
    font-family: Tahoma, Geneva, sans-serif;
}

.heading img {
    float: left;
    transform: translateY(-10%) translateX(20%);
}

.heading {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 25px;
    padding-top: 7px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -12px;
    background-color: #666;
    font-size: 19px;
    color: white;
}

.all_buttons {
    margin-top: 4%;
    text-align: center;
}

.button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    color: dodgerblue;
    font-size: 20px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.text_area {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    resize: none;
    height: 280px;
    width: 250px;
}

.button:hover {
    background-color: lightgrey;
}

.end {
    margin-top: 10%;
    text-align: center;
}

.arrow {
    transform: translateY(-10ch);
}

.container {
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 35px;
    padding-bottom: 25px;
    background: gainsboro;
}

.logo{
    width: 120px;
    height: 120px;
}